@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;800;900&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;
  --gradient-text: linear-gradient(89.97deg, #031b34 1.84%, #042c54 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  --color-blog: #040c18;
  --color-bg: #ffffff;
  --color-footer: #031b34;
  --color-text: #042c54;
  --color-subtext: #ff8a1f;
}