.navbar__brand {
    font-size: 2.5rem !important;
    color: var(--color-subtext) !important;
}

.navbar-nav a {
    font-size: 1.3rem;
    text-transform: capitalize;
    /* color: var(--color-subtext) !important; */
    color: #fff !important;
}

.navbar a:hover {
    color: var(--color-subtext) !important;
}

.navbar-collapse {
    color: #ffffff !important;
}

@media (max-width: 991px) {
    .navbar-brand {
        font-size: 1.5rem !important;
    }

    .menu_active {
        font-weight: bold;
        border-bottom: none;
    }
}