.card {
    width: 20rem;
    min-height: 30rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
    box-shadow: 3px 5px 8px 0.7px rgba(0, 0, 0, 0.253);
    justify-content: center;
    align-items: center;
}

.card:hover {
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}

.card-body {
    padding: 3rem 0;
}

.card-title {
    color: var(--color-text);
}

.card-text {
    font-size: 0.9rem;
    padding: 0.4rem 1.9rem;
    color: var(--color-subtext) !important;
}

.card-price {
    font-size: 1.48rem;
    padding: 0.4rem 1.9rem;
}

.parent__card .row {
    padding: 6rem;
}

.overflow {
    overflow: hidden;
}

.card-img-top {
    width: 18rem;
    padding: 0.35rem;
    border-radius: 2rem 1.8rem;
}

.card-btn {
    margin-top: 0.5rem;
    padding: 0.4rem 1.5rem;
    border-radius: 1.5rem;
    border-width: 1px;
    background: var(--gradient-text) !important;
    color: #fff;
}


@media (max-width: 320px) {
    .card {
        width: 16rem;
    }

    .parent__card .row {
        padding: 1rem;
    }
    
    .card-img-top {
        width: 14.5rem;
    }
}

@media (max-width: 375px) {
    .parent__card .row {
        padding: 0.8rem;
    }
}

@media (width: 425px) {
    .card {
        width: 20rem;
    }
    
    .card-body {
        padding: 3rem 0;
    }
    
    .card-title {
        color: var(--color-text);
    }
    
    .card-price {
        font-size: 1.6rem;
    }
    
    .parent__card .row {
        padding: 2.5rem;
    }
}

@media (width: 768px) {
    .card {
        width: 12rem;
        min-height: 28rem;
    }

    .card-title {
        padding: 10px;
        font-size: 20px;
    }
    
    .card-text {
        font-size: 0.7rem;
        padding: 0.5rem 2rem;
    }
    
    .card-price {
        font-size: 1.42rem;
        padding: 0.3rem 2rem;
    }
    
    .parent__card .row {
        padding: 4rem;
    }
    
    .card-img-top {
        width: 11rem;
    }
}

@media (width: 820px) {
    .card {
        width: 12rem;
        min-height: 28rem;
    }

    .card-title {
        padding: 10px;
        font-size: 20px;
    }
    
    .card-text {
        font-size: 0.7rem;
        padding: 0.5rem 2rem;
    }
    
    .card-price {
        font-size: 1.42rem;
        padding: 0.3rem 2rem;
    }
    
    .parent__card .row {
        padding: 4rem;
    }
    
    .card-img-top {
        width: 11rem;
    }
}

@media (width: 1024px) {
    .card {
        width: 15rem;
    }

    .card-title {
        font-size: x-large;
    }
    
    .card-text {
        font-size: 0.7rem;
        padding: 0.5rem 2rem;
    }
    
    .card-price {
        font-size: 1.42rem;
        padding: 0.3rem 2rem;
    }
    
    .parent__card .row {
        padding: 4rem;
    }
    
    .card-img-top {
        width: 14rem;
    }
}